<div class="signup">

    <div class="su">
        <h1>Edit <%= @manga.title %></h1>
    </div>

    <%= form_for @manga do |f| %>
        <ul>
            <li>
                <%= f.hidden_field :title %>
                <%= f.text_field :title, :placeholder => 'Title', :class => 'field' %>
            </li>
            <li>
                <%= f.hidden_field :author %>
                <%= f.text_field :author, :placeholder => 'Author', :class => 'field' %>
            </li>
            <li>
                <%= f.hidden_field :synopsis %>
                <%= f.text_field :synopsis, :placeholder => 'Synopsis', :class => 'field' %>
            </li>
            <li>
                <%= f.hidden_field :vol %>
                <%= f.number_field :vol, :min =>  1, :placeholder => 'Volumes', :class => 'field' %>
            </li>
            <li>
                <%= f.hidden_field :image %>
                <%= f.text_field :image, :placeholder => 'Image URL', :class => 'field' %>
            </li>

        <%= f.submit "Update Manga", :class => 'button' %>
        </ul>
    <% end %>
</div>
