<h1><%= @manga.title %></h1>

<%= form_for @manga do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :author %>
    <%= f.text_field :author %>
    <%= f.label :synopsis %>
    <%= f.text_field :synopsis %>
    <%= f.label :image %>
    <%= f.text_field :image %>

    <%= f.submit "Update Manga" %>
<% end %>


