<h1>New manga</h1>

<%= form_for @manga do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :image %>
    <%= f.text_field :image %>
    <%= f.label :vol, "Volumes" %>
    <%= f.number_field :vol, :min =>  1 %>

    <%= f.submit "Add Manga" %>
<% end %>
