<h1><%= @manga.title %></h1>


<% if @current_user.present? %>
    
    <% if @current_user.admin? %>
        <div class="controls">
            <%= link_to "Edit", edit_manga_path(@manga) %>
            <%= link_to "Delete", @manga, :method => 'delete', :data => { :confirm => 'Are you sure'} %>
        </div>
    <% end %>
<% end %>


<table>
<% @manga.volumes.order('id ASC').each do |volume|  %>  
    <tr>
        <td>
            Volume <%= volume.title %> Price: $ <%= volume.price %> Quantity: <%= volume.quantity %>
        </td>
        <td>
            <% if @current_user.present? %>
                <%= form_for @order, remote: true  do |f| %>
                    <% if @current_user.present? %>
                            <% if @current_user.admin? %>
                                <span class="vcontrols">
                                    <%= link_to "Modify", edit_volume_path(volume.id) %>
                                </span>
                            <% end %>
                        <% end %>
                    <%= f.hidden_field :volume_id, :value => volume.id %>
                    <%= f.number_field :quantity, :value => 1, :min =>  1, :max => volume.quantity %>
                    <%= f.submit "Add to Cart"%>
                <% end %>
            <% else %>
                <%= button_to "Add to Cart", login_path %>
            <% end %>
        </td>
    </tr>
<% end %>
</table>

<%= link_to 'Back', :back %>

