<!DOCTYPE html>
<html>
  <head>

    <meta property='og:title' content='Project 1: Manga-Shoppu'/>
    <meta property='og:image' content='app/assets/images/SS3.png'/>
    <meta property='og:url' content='https://manga-shoppu.herokuapp.com/'/>

    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <span class="sign"><strong>Manga</strong>Shoppu</span>
      <div class="navButtons">    
        <%= link_to "Home", root_path %>
        <% if @current_user.present? %>
            <%= link_to "Cart", orders_path %>  
            <% if @current_user.admin? %>
              <%= link_to "All users", users_path %>
              <%= link_to "Add Product", new_manga_path %> 
            <% end %>
            <%= link_to "Sign out #{@current_user.username}", login_path, :method => 'delete' %>
        <% else %>
          <%= link_to "Sign up", new_user_path %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body> 
</html>
